@font-face {
    font-family: "Mandatory Plaything";
    src: url(MandatoryPlaything.otf);
}

#title {
-fx-font-size: 100px;
    -fx-font-weight: bold;
    -fx-text-fill: #238ebc;
    -fx-font-family: "Mandatory Plaything";
    -fx-padding: 10px;
}

#beginButton {
-fx-background-color: #000000FF;
    -fx-text-fill: white;
    -fx-font-size: 200px;
    -fx-font-weight: bold;
    -fx-font-family: "Mandatory Plaything";
    -fx-padding: 10px;
}