@font-face {
    font-family: "Mandatory Plaything";
    src: url(MandatoryPlaything.otf);
}
* {
    -fx-font-family: "Mandatory Plaything"; }

#prevPageButton {
    -fx-font-size: 27px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #000000;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-alignment: center;
}

#nextPageButton {
    -fx-font-size: 27px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #000000;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-alignment: center;
}

#quantitative {
    -fx-font-size: 72px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-stroke-type: outside;
}

#comments {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-stroke-type: outside;
    -fx-wrap-text: true;
}

#everybot {
    -fx-font-size:32px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

#drivetrain {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

#driverSkill {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

#intake {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

#driveSpeed {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

#drivetrain {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

#scoutNameText {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

#scoutNameTextField {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #000000;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-alignment: center;
}

#drivetrainSwerve {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

#drivetrainTank {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

